USER_DB_URL=jdbc:postgresql://localhost:5432/user_db
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=postgres
JWT_SECRET=replace-with-the-same-secret-used-by-auth-service
BRANCH_SERVICE_URL=http://localhost:8083
NOTIFICATION_SERVICE_URL=http://localhost:8090
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
USER_MAPPING_CLEANUP_CRON=0 0 2 * * *
